.cc-svg .radial-dendrogram {
  .link {
	stroke: steelblue;
	stroke-opacity: .4;
	stroke-width: 1;
	fill: none;
	pointer-events: none;
  }
  .circle {
  	stroke: red;
	stroke-opacity: .4;
	stroke-width: 1;
	fill: none;
	pointer-events: none;
  }
}
