.cc-svg .radial-dendrogram {
  .link {
	stroke: #2196f3;
	stroke-opacity: .4;
	fill: none;
	pointer-events: none;
  }
  .ribbon {
	fill: steelblue;
	fill-opacity: 0.4;
	stroke-width: 0px;
	pointer-events: none;
  }
  .circle {
  	stroke: #424242;
	stroke-opacity: .4;
	stroke-width: 1px;
	fill: none;
	pointer-events: none;
  }
}
