.cc-svg .radial-dendrogram {
  .link {
	stroke: #2196f3;
	stroke-opacity: .4;
	stroke-width: 1;
	fill: none;
	pointer-events: none;
  }
  .circle {
  	stroke: #424242;
	stroke-opacity: .4;
	stroke-width: 1;
	fill: none;
	pointer-events: none;
  }
}
