#grouped-parent-chart {
    width: 100%;
}

#vn-pie {
    width: 30%;
    margin-left: 50px;
    display: inline-block;
}

#vn-traffic {
    width: 100%;
    margin-bottom: 50px;
    display: inline-block;
}
#vn-ports {
    width: 65%;
    display: inline-block;
}
