.cc-svg .scatter-plot {
  .point {
    opacity: 0.7;
    shape-rendering: geometricPrecision;
    font-family: FontAwesome;
    alignment-baseline: middle;
    text-anchor: middle;
    &:hover {
      opacity: 0.9;
      stroke-width: 1;
      stroke: #ddd;
      cursor: pointer;
      shape-rendering: geometricPrecision;
    }
  }
  .bucket {
    opacity: 0.8;
    fill: steelblue;

    text {
      text-anchor: middle;
      alignment-baseline: middle;
      stroke: black;
    }
  }
}
