.cc-svg .scatter-plot {
  .point {
    opacity: 0.55;
    shape-rendering: geometricPrecision;
    font-family: FontAwesome;
    alignment-baseline: middle;
    text-anchor: middle;
    &:hover {
      opacity: 0.85;
      stroke-width: 2;
      stroke: #ddd;
      cursor: pointer;
      shape-rendering: geometricPrecision;
    }
  }
}
