<div {{#if groupedChartsWrapperId }} id = "{{groupedChartsWrapperId}}" {{/if}} class="chart-container">
  {{#each chartContainerIds}}
    <div id="{{this}}" class="single-chart-wrapper"></div>
  {{/each}}
</div>
