#disk-status-chart {
  width: 48%;
  display: inline-block;
  border: 1px solid #eee;
  padding: 2px;
}

#disk-cluster-chart {
  width: 48%;
  display: inline-block;
  border: 1px solid #eee;
  padding: 2px;
}

.svg-wrapper {
  border-bottom: 1px solid #f8f8f8;
}

.title {
  border: 1px solid #eee;
  padding: 8px;
  color: #888;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 2px;
}
