.tooltip.cc-component {
  position: absolute;
  pointer-events: none;

	.tooltip-content {
    padding: 10px 10px 5px;
    border-radius: 4px;
    background-color: black;
    font-size: 12px;
    color: white;
    min-width: 200px;
    opacity: 0.75;

		.cc-title {
			font-weight: bold;
			font-size: 14px;
			padding: 0 0 7px 0;
			border-bottom: 1px solid #ddd;
			margin-bottom: 15px;
		}
	}

  .tooltip-item {
    font-size: 12px;
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 5px;
    padding-bottom: 5px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .tooltip-item-color {
      width: 5px;
      height: 9px;
      display: inline-block;
      border-radius: 2px;
      background-color: black;
    }

    .tooltip-item-label {
      margin-right: 15px;
    }

    .tooltip-item-value {
      font-weight: 900;
      float: right;
    }
  }
}
